@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Green News</h1>
    <p class="lead">Todavia, o desenvolvimento contínuo de distintas formas de atuação possibilita uma melhor visão global dos conhecimentos estratégicos para atingir a excelência.</p>
    <p><a href="https://localhost:44365/Artigos" class="btn btn-primary btn-lg">Artigos &raquo;</a></p>
</div>
